<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: white">
        <li class="breadcrumb-item"><a href="/inicio">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contacto</li>
    </ol>
</nav>
<h1 style="text-align: center">Contacto</h1>
<div class="container text">
    <div class="col-5">
        <label for="formGroupExampleInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="formGroupExampleInput" />
    </div>
    <div class="col-5">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input type="text" class="form-control" id="formGroupExampleInput" />
    </div>
    <div class="col-5">
        <label for="formGroupExampleInput" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="formGroupExampleInput" />
    </div>
    <div class="col-5">
        <label for="formGroupExampleInput" class="form-label">Mensaje</label>
        <textarea class="form-control" rows="3" ></textarea>
    </div>
</div>
