<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: white">
        <li class="breadcrumb-item"><a href="Aloe-vera/inicio">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
    </ol>
</nav>
    <h2 style="text-align:center">Nosotros</h2>
    <p class="card-body col-8 container" style="text-align: justify">
        Suspendisse auctor posuere ante quis molestie. Cras lectus magna, malesuada 
        et faucibus non, elementum et libero. Vivamus tellus libero, efficitur vel enim 
        ac, imperdiet faucibus magna. Quisque varius justo at libero lacinia, at viverra 
        leo lobortis. Morbi vel nulla sed eros malesuada hendrerit sed nec risus. Aenean vitae 
        velit ex. Nunc in augue vestibulum, volutpat velit mattis, vestibulum urna. Donec condimentum 
        lobortis mi, ut pharetra est commodo ac. Nunc lacus nisi, mattis id nulla a, mattis laoreet purus. 
        Praesent sit amet justo felis. Proin id iaculis lacus. In hac habitasse platea dictumst. Nam sed risus 
        tempus nisi molestie venenatis nec eu magna. Fusce euismod pellentesque felis sed interdum. Nulla 
        ultrices libero eu nibh finibus placerat.
        Suspendisse auctor posuere ante quis molestie. Cras lectus magna, malesuada 
        et faucibus non, elementum et libero. Vivamus tellus libero, efficitur vel enim 
        ac, imperdiet faucibus magna. Quisque varius justo at libero lacinia, at viverra 
        leo lobortis. Morbi vel nulla sed eros malesuada hendrerit sed nec risus. Aenean vitae 
        velit ex. Nunc in augue vestibulum, volutpat velit mattis, vestibulum urna. Donec condimentum 
        lobortis mi, ut pharetra est commodo ac. Nunc lacus nisi, mattis id nulla a, mattis laoreet purus. 
        Praesent sit amet justo felis. Proin id iaculis lacus. In hac habitasse platea dictumst. Nam sed risus 
        tempus nisi molestie venenatis nec eu magna. Fusce euismod pellentesque felis sed interdum. Nulla 
        ultrices libero eu nibh finibus placerat.
    </p>