<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size: 130px">Uitsmetl</h1>
        <p style="font-size: 25px">Sábila orgánica que cuida tu piel.</p>
    </div>
</div>
<div class="container">
    <main class="row" style="margin-bottom: 50px">
        <div class="col-md-6 text-center">
            <img src="https://www.bing.com/images/blob?bcid=Tz-8OImaxUgCPbRtIx4xCq-C16s4.....4I">
        </div>
        <div class="col-md-6 text-center my-auto">
            <h1 class="font-weight-bolder">Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In mattis elit diam, eget molestie dui aliquet aMorbi erat ex, 
            malesuada quis sapien sed, tempus sodales risus. Nunc condimentum, lectus sed tempor interdum</p>   
            <button class="btn btn-primary">Ver mas</button>
        </div>
        
    </main>
    <div class="row flex-row-reverse" id="nosotros" style="margin-bottom: 50px" >
        <div class="col-md-6 text-center">                  
            <img src="https://www.exialoe.es/676-thickbox_default/jugo-aloe-100-natural-1-1-estabilizado-en-frio.jpg" >
        </div>
        <div class="col-md-6 text-center my-auto">
            <h1 class="font-weight-bolder">Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In mattis elit diam, eget molestie dui aliquet aMorbi erat ex, 
            malesuada quis sapien sed, tempus sodales risus. Nunc condimentum, lectus sed tempor interdum</p> 
            <button class="btn btn-primary">Ver mas</button>
        </div>
    </div>
    <div class="row" style="margin-bottom: 50px">
        <div class="col-md-6 text-center" id="destino">
            <img src="https://www.bing.com/images/blob?bcid=T4bjmGXJRUgCPbRtIx4xCq-C16s4.....wA" >
        </div>
        <div class="col-md-6 text-center my-auto">
            <h1 class="font-weight-bolder">Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In mattis elit diam, eget molestie dui aliquet aMorbi erat ex, 
            malesuada quis sapien sed, tempus sodales risus. Nunc condimentum, lectus sed tempor interdum</p> 
            <button class="btn btn-primary">Ver mas</button>
        </div>
    </div>
    <div class="row flex-row-reverse" id="contactanos">
        <div class="col-md-6 text-center">
            <img src="https://www.bing.com/images/blob?bcid=TwOgjibJb0gCPbRtIx4xCq-C16s4.....1E" >
        </div>
        <div class="col-md-6 text-center my-auto">
            <h1 class="font-weight-bolder">Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In mattis elit diam, eget molestie dui aliquet aMorbi erat ex, 
            malesuada quis sapien sed, tempus sodales risus. Nunc condimentum, lectus sed tempor interdum</p> 
            <button class="btn btn-primary">Ver mas</button>    
        </div>
    </div>
</div>

 
